@(timeline: com.github.mather.sample.model.Timeline, error: Option[String] = None)

@displayTweet(tweet: com.github.mather.sample.model.Tweet) = {
    <div class="tweet-header d-flex w-100 justify-content-between">
        <div class="tweet-author-name">@{
            tweet.author.displayName
        }</div>
        <div class="tweet-createdAt">@{
            tweet.createdAt
        }</div>
    </div>
    <div class="tweet-message d-flex w-100 justify-content-between">
        @Html(tweet.messageText.replace("\n", "<br>"))
    </div>
}

@layouts.html.default(title = "Timeline", headline = "MyTwitter") {
    <h2>New Tweet</h2>

    <form action="/" method="post">
        <div class="form-group">
            <label for="tweet-message">Message</label>
            <textarea id="tweet-message" name="message" class="form-control" placeholder="Something to tweet..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h2>Timeline</h2>

    @if(timeline.isEmpty) {
        <div class="alert alert-light">No tweets to show!</div>
    } else {
        <ul class="list-group">
        @for(tweet <- timeline.tweets.list) {
            <li class="list-group-item list-group-item-action flex-column align-items-start">
            @displayTweet(tweet)
            </li>
        }
        </ul>
    }
}